.title {
  background-color: #4f67f5;
  font-size: 2rem;
}

.close-btn {
  border: 1px solid #4f67f5;
  border-radius: 10px;
  color: #4f67f5;
  background-color: white;
}

.add-btn {
  border: 0;
  border-radius: 10px;
  color: white;
  background-color: #4f67f5;
}
