.mdc-snackbar {
  position: fixed;
  inset-block-start: 40px;
}
.mdc-snackbar {
  inset-inline-start: 10px;
}

.mdc-snackbar__surface {
  padding: 0 !important;
  margin-block-end: 1rem;
}

.mat-mdc-snack-bar-label {
  padding: 0 !important;
}

.mat-mdc-snack-bar-handset .mat-mdc-snack-bar-container {
  inline-size: auto !important;
}
