.logo{
  width: 70px !important;
  height: 70px !important;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;

    .logo {
      margin-bottom: 20px;

      img {
        width: 150px; // Adjust the size of the logo as needed
        height: auto;
      }
    }

    h1 {
      font-size: 24px;
      font-family: var(--font-family);
      color: #333;
      margin-bottom: 10px;
    }

    .subtitle {
      font-size: 14px;
      font-family: var(--font-family);
      color: #555;
      margin-bottom: 20px;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;

      .form-group {
        margin-bottom: 15px;

        label {
          display: block;
          font-size: 14px;
          font-family: var(--font-family);
          color: #555;
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          padding: 10px;
          font-size: 14px;
          font-family: var(--font-family);
          border: 1px solid #ddd;
          border-radius: 4px;
          outline: none;

          &:focus {
            border-color: #007bff;
          }
        }
      }

      .submit-button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-family: var(--font-family);
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    .forgot-password {
      margin-top: 15px;
      font-size: 14px;
      font-family: var(--font-family);
      color: #007bff;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

.register{
  font-family: var(--font-family);
}

.register-link{
  font-family: var(--font-family);
  text-decoration: none;
}

.register-link:hover{
  font-weight: bold;
  cursor: pointer;
}
