<div class="container text-center">
  <div class="row">
    <div class="col my-5">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/imgs/quran.png"
          class="card-img-top"
          alt="/assets/imgs/quran.png"
        />
        <div class="card-body">
          <h5 class="card-title">الغياب</h5>
          <p class="card-text">أخذ الغيال للطلبة ومراجته</p>
          <a href="#" class="btn btn-primary">دخول</a>
        </div>
      </div>
    </div>
    <div class="col my-5">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/imgs/quran.png"
          class="card-img-top"
          alt="/assets/imgs/quran.png"
        />
        <div class="card-body">
          <h5 class="card-title">الغياب</h5>
          <p class="card-text">أخذ الغيال للطلبة ومراجته</p>
          <a href="#" class="btn btn-primary">دخول</a>
        </div>
      </div>
    </div>
    <div class="col my-5">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/imgs/quran.png"
          class="card-img-top"
          alt="/assets/imgs/quran.png"
        />
        <div class="card-body">
          <h5 class="card-title">الغياب</h5>
          <p class="card-text">أخذ الغيال للطلبة ومراجته</p>
          <a href="#" class="btn btn-primary">دخول</a>
        </div>
      </div>
    </div>
    <div class="col my-5">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/imgs/quran.png"
          class="card-img-top"
          alt="/assets/imgs/quran.png"
        />
        <div class="card-body">
          <h5 class="card-title">الغياب</h5>
          <p class="card-text">أخذ الغيال للطلبة ومراجته</p>
          <a href="#" class="btn btn-primary">دخول</a>
        </div>
      </div>
    </div>
    <div class="col my-5">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/imgs/quran.png"
          class="card-img-top"
          alt="/assets/imgs/quran.png"
        />
        <div class="card-body">
          <h5 class="card-title">الغياب</h5>
          <p class="card-text">أخذ الغيال للطلبة ومراجته</p>
          <a href="#" class="btn btn-primary">دخول</a>
        </div>
      </div>
    </div>
    <div class="col my-5">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/imgs/quran.png"
          class="card-img-top"
          alt="/assets/imgs/quran.png"
        />
        <div class="card-body">
          <h5 class="card-title">الغياب</h5>
          <p class="card-text">أخذ الغيال للطلبة ومراجته</p>
          <a href="#" class="btn btn-primary">دخول</a>
        </div>
      </div>
    </div>
    <div class="col my-5">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/imgs/quran.png"
          class="card-img-top"
          alt="/assets/imgs/quran.png"
        />
        <div class="card-body">
          <h5 class="card-title">الغياب</h5>
          <p class="card-text">أخذ الغيال للطلبة ومراجته</p>
          <a href="#" class="btn btn-primary">دخول</a>
        </div>
      </div>
    </div>
    <div class="col my-5">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/imgs/quran.png"
          class="card-img-top"
          alt="/assets/imgs/quran.png"
        />
        <div class="card-body">
          <h5 class="card-title">الغياب</h5>
          <p class="card-text">أخذ الغيال للطلبة ومراجته</p>
          <a href="#" class="btn btn-primary">دخول</a>
        </div>
      </div>
    </div>
    <div class="col my-5">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/imgs/quran.png"
          class="card-img-top"
          alt="/assets/imgs/quran.png"
        />
        <div class="card-body">
          <h5 class="card-title">الغياب</h5>
          <p class="card-text">أخذ الغيال للطلبة ومراجته</p>
          <a href="#" class="btn btn-primary">دخول</a>
        </div>
      </div>
    </div>
    <div class="col my-5">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/imgs/quran.png"
          class="card-img-top"
          alt="/assets/imgs/quran.png"
        />
        <div class="card-body">
          <h5 class="card-title">الغياب</h5>
          <p class="card-text">أخذ الغيال للطلبة ومراجته</p>
          <a href="#" class="btn btn-primary">دخول</a>
        </div>
      </div>
    </div>
    <div class="col my-5">
      <div class="card" style="width: 18rem">
        <img
          src="/assets/imgs/quran.png"
          class="card-img-top"
          alt="/assets/imgs/quran.png"
        />
        <div class="card-body">
          <h5 class="card-title">الغياب</h5>
          <p class="card-text">أخذ الغيال للطلبة ومراجته</p>
          <a href="#" class="btn btn-primary">دخول</a>
        </div>
      </div>
    </div>
  </div>
</div>
