<div class="registration-container">
  <div class="logo">
    <img src="../../../assets/imgs/logo.png" alt="Logo" class="logo" />
    <!-- Replace with your logo path -->
  </div>
  <h1>تسجيل مستخدم جديد</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="firstName">الاسم الاول</label>
          <input
            type="text"
            id="firstName"
            [(ngModel)]="user.firstName"
            name="firstName"
            required
          />
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="lastName">الاسم الاخير</label>
          <input
            type="text"
            id="username"
            [(ngModel)]="user.lastName"
            name="lastName"
            required
          />
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="email">البريد الالكترونى</label>
          <input
            type="text"
            id="email"
            [(ngModel)]="user.email"
            name="email"
            required
          />
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="password">كلمة المرور</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="user.password"
            name="password"
            required
          />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="role">اختر دور الموظف</label>
          <select multiple id="role" [(ngModel)]="user.roles" name="role">
            <option value="SUPERVISOR">مشرف</option>
            <option value="ADMIN">ادارى</option>
            <option value="TECHNICAL">فنى</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="submit-button">تسجيل</button>
  </form>
  <p class="login my-3">لديك حساب؟<a [routerLink]="['/', AppRoutes.LOGIN]" class="login-link"> تسجيل الدخول</a></p>
</div>
