<div class="row">
  <div class="col-12 d-flex justify-content-between align-items-center title">
    <button
      class="close-btn d-flex justify-content-center align-items-center"
      mat-button
      mat-dialog-close
    >
      <span class="material-symbols-outlined">close</span>
    </button>
    <p class="fw-bold text-white m-0 p-2">إضافة طالب</p>
  </div>
  <div class="col-12">
    <mat-dialog-content>
      <form class="row" [formGroup]="studentForm">
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>الاسم رباعى</mat-label>
            <input matInput formControlName="fullName" id="fullName" type="text">
            @if (studentForm.controls['fullName'].touched && studentForm.controls['fullName'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إدخال الإسم</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>الرقم القومي</mat-label>
            <input matInput formControlName="nationalId" id="nationalId" type="text">
            @if (studentForm.controls['nationalId'].touched && studentForm.controls['nationalId'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إدخال الرقم القومي</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>إسم الأم</mat-label>
            <input matInput formControlName="motherName" id="motherName" type="text">
            @if (studentForm.controls['motherName'].touched && studentForm.controls['motherName'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إدخال إسم الأم</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>تليفون الأم</mat-label>
            <input matInput formControlName="motherPhoneNumber" id="motherPhoneNumber" type="text">
            @if (studentForm.controls['motherPhoneNumber'].touched && studentForm.controls['motherPhoneNumber'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إدخال تليفون الأم</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>العنوان</mat-label>
            <input matInput formControlName="address" id="address" type="text">
            @if (studentForm.controls['address'].touched && studentForm.controls['address'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إدخال العنوان</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>الحالة الإجتماعية</mat-label>
            <mat-select formControlName="maritalStatus" required>
              <mat-option value="orphan">يتيم</mat-option>
              <mat-option value="single_parents">لديه والد</mat-option>
              <mat-option value="living_parents">لديه والدان</mat-option>
              <mat-option value="not_defined">غير معروف</mat-option>
            </mat-select>
            @if (studentForm.controls['maritalStatus'].touched && studentForm.controls['maritalStatus'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إختيار الحالة الإجتماعية</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>الحالة</mat-label>
            <mat-select formControlName="status" required>
              <mat-option value="connected">متصل</mat-option>
              <mat-option value="stopped">منقطع</mat-option>
            </mat-select>
            @if (studentForm.controls['status'].touched && studentForm.controls['status'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إختيار الحالة</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>الفترة</mat-label>
            <mat-select formControlName="periodName" required>
              @for (period of data.periods; track period.name) {
                <mat-option [value]="period.name">{{ period.nameAR }}</mat-option>
              }
            </mat-select>
            @if (studentForm.controls['periodName'].touched && studentForm.controls['periodName'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إختيار الفترة</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>الحلقة</mat-label>
            <mat-select formControlName="ringId" required>
              @for (ring of data.rings; track ring.id) {
                <mat-option [value]="ring.id">{{ ring.name }}</mat-option>
              }
            </mat-select>
            @if (studentForm.controls['ringId'].touched && studentForm.controls['ringId'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إختيار الحلقة</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>تاريخ الإلتحاق بالدار</mat-label>
            <input matInput formControlName="joiningDate" [matDatepicker]="joiningPicker" readonly>
            <mat-datepicker-toggle matIconSuffix [for]="joiningPicker"></mat-datepicker-toggle>
            <mat-datepicker #joiningPicker></mat-datepicker>
            @if (studentForm.controls['joiningDate'].touched && studentForm.controls['joiningDate'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إختيار التاريخ</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>تاريخ الميلاد</mat-label>
            <input matInput formControlName="birthDate" [matDatepicker]="dobPicker" readonly>
            <mat-datepicker-toggle matIconSuffix [for]="dobPicker"></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
            @if (studentForm.controls['birthDate'].touched && studentForm.controls['birthDate'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إختيار التاريخ</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>تليفون الأب</mat-label>
            <input matInput formControlName="fatherPhoneNumber" id="fatherPhoneNumber" type="text">
            @if (studentForm.controls['fatherPhoneNumber'].touched && studentForm.controls['fatherPhoneNumber'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إدخال تليفون الأب</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4 mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>البريد الإلكتروني للأب</mat-label>
            <input matInput formControlName="fatherEmailAddress" id="fatherEmailAddress" type="text">
            @if (studentForm.controls['fatherEmailAddress'].touched && studentForm.controls['fatherEmailAddress'].hasError('required')) {
              <mat-error class="small text-danger">الرجاء إدخال البريد الإلكتروني للأب</mat-error>
            }
          </mat-form-field>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions class="gap-3">
      <button
        class="close-btn fw-bold d-flex justify-content-center align-items-center py-2 px-4"
        mat-button
        mat-dialog-close
      >
        إغلاق
      </button>
      <button
        class="add-btn fw-bold d-flex justify-content-center align-items-center py-2 px-4"
        (click)="onSubmit()"
        mat-button
      >
        {{ student ? 'تعديل' : 'إضافة' }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
