/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";


//Colors
@import "styles/colors/color_variables";
@import "styles/colors/colors_mixin";

// Cairo Font
@import "styles/fonts/cairo.scss";

:root {
  --font-family: Cairo;
}


body {
  direction: rtl;
  text-align: right;
  font-family: var(--font-family);
  background-color: var(--color-white);
}

/* styles.css */
.card {
  margin-bottom: 20px;
}

.table {
  margin-top: 20px;
}

.list-group-item {
  text-align: right;
}

.pagination {
  margin-top: 20px;
}
