/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";


//Colors
@import "styles/colors/color_variables";
@import "styles/colors/colors_mixin";

// Cairo Font
@import "styles/fonts/cairo.scss";

// Snackbars
@import "styles/snackbars/snackbar.scss";

:root {
  --font-family: Cairo;
  --mat-sys-surface-container-high: #f8f9fa;
  --mat-sys-surface-container: #f8f9fa;
  --mat-sys-on-surface: black;
}


body {
  direction: rtl;
  text-align: right;
  font-family: var(--font-family);
  background-color: #f8f9fa;
}

/* styles.css */
.card {
  margin-bottom: 20px;
}

.table {
  margin-top: 20px;
}

.list-group-item {
  text-align: right;
}

.pagination {
  margin-top: 20px;
}
